<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>shops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">shops</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let s of shops">
        <p class="red-text">direccion: {{s.address}}</p>
        <p class="red-text">telefono: {{s.telephone}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
